@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Nunito+Sans&display=swap");

html,
body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}
@media only screen and (max-width: 854px) {
  .sidenav {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .sidenav {
    /* top: 0; */
    padding-top: 2.5rem !important;
  }
  .sidenav li {
    font-size: 0.9rem;
  }
  .sidenav li ul li {
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
    font-size: 0.75rem !important;
    /* padding-left: 1.75rem; */
  }

  .sidenav li a {
    /* padding-left: 30px; */
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 7px;
  }
  .sidenav li .main-section-nav {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.sidenav .active > a {
  font-weight: bold;
  background: linear-gradient(
    145deg,
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-left: #333 solid 1px !important;
}

* {
  box-sizing: border-box;
}

.sidenav ul,
.sidenav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidenav li > a {
  color: #ccc;
  transition: all 125ms ease-in-out;
  cursor: pointer;
}
.sidenav li > a:hover,
.sidenav li > a:focus {
  color: #666;
  border-left: #333 solid 1px;
}

.sidenav li > a,
.sidenav li ul li > a {
  /* border-left: transparent solid 1px; */
  padding-left: 30px;
  /* transition: all 125ms ease-in-out; */
}

.sidenav li ul li > a:hover,
.sidenav li ul li > a:focus {
  /* color: #666; */
  /* border-left: #333 solid 1px; */
}

.sidenav {
  z-index: 999;
  /* text-align: left ; */
  float: left;
  position: sticky;
  top: 0;
  width: 20%;
  /* top: 50%; */
  /* transform: translateY(-35%); */
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  padding-top: 6.5rem;
  /* margin-right: 4rem; */
}

.sidenav li a {
  scroll-behavior: smooth;
  transition-duration: 0.2s;
  display: block;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* padding: 10px; */
  margin: 0 15px;
}

.sidenav li .main-section-nav {
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidenav li ul li {
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  font-size: 0.85em;
  padding-left: 1.75rem;
}

.sidenav li ul .active > a {
  background: none;
  -webkit-text-fill-color: #333;
}
